%p
  Trump has proposed a range of policies &mdash; from mass deportations to
  enhanced policing of communities &mdash; that threaten to harm our
  communities.

%p
  Help describe the damage his proposals may cause you and/or your community.
