%p
  Trump has proposed a range of policies &mdash; from mass deportations to
  enhanced policing of communities &mdash; that threaten to harm our
  communities.

%p
  Help describe the damage his proposals may cause you and/or your community.

%p
  This information will be shared to help others understand why they should
  resist Trump's agenda from being enacted.

%p
  Descriptions can be personal stories or estimations of the number of people
  who will be impacted and how.

%p
  Include links to source articles where appropriate.
