:ruby
  path = response_path(project_key: action.project::KEY)

= simple_form_for(@response, url: path) do |form|
  = form.input :policy, label: "What aspect of Trump's agenda are you describing?", autofocus: true
  = form.input :impact, label: 'What community are you a part of and how would this impact you/your community?', input_html: {rows: 6}
  = form.button :submit, 'Submit', class: 'btn-primary'
