.row.hero
  %h1 We need your help.
  %h2
    We are pushing for local, state, and federal policies that protect people
    from police violence and hold the police accountable. Take action now!
  %input{type: "text"}
