.electoral-college-widget-background
  .electoral-college-widget-container
    <script src="https://electoral-college.joincampaignzero.org/widget.js" charset="utf-8"></script>

.row.hero
  .container
    .row
      .col-md-8
        %h1 We need your help.
        %h2
          We can stop Trump from imposing his racist agenda on America.
          Together, we can build systems and structures that protect people
          from harm and dismantle white supremacy.
      .col-md-4
        %form
          .row
            .col-xs-12.input
              %input{type: "text", placeholder: 'Enter your zip code or location'}
            .col-xs-12.button
              %button.btn.btn-dark Get Started

.row.protest
  &nbsp;

:javascript
  $(function() {
    $('.hero form').submit(function(event) {
      event.preventDefault();

      var url = '/actions'
      var location = $('.hero input').val();

      if (! _.str.isBlank(location)) {
        url += '?' + $.param({location: location});
      }

      window.location.href = url;
    });
  });

  (function () {
    var resizeHandler = _.debounce(function() {
      var height = ($(window).height() - 100) + 'px';
      $('.electoral-college-widget-container').css('maxWidth', height);
    }, 5);

    window.addEventListener('resize', resizeHandler);
    resizeHandler();
  })();
