.row.bg-gray
  .container.signup
    .row
      .col-xs-12.line
        %h2.background
          %span Sign Up

    .row
      .col-xs-12
        %p.text-center
          Sign up below and contribute to the cause, or sign up via
          %a(href="/auth/facebook") Facebook >

    .row
      = form_for(@user, url: users_path, method: :post) do |form|
        = form.hidden_field :referrer, value: 'homepage'
        .col-sm-10
          .row
            .col-sm-4.nopadding
              = form.text_field :location, placeholder: 'Zip code or location'
            .col-sm-4.nopadding
              = form.text_field :email, placeholder: 'Email'
            .col-sm-4.nopadding
              = form.password_field :password, placeholder: 'Password'
        .col-sm-2
          = form.submit 'Sign Up', class: 'btn btn-dark btn-block'
