.row
  .container.strategy
    .row
      .col-xs-12.line
        %h2.background
          %span Our Strategy

    .row
      .col-xs-12
        %p
          There are
          = link_to '104 million Americans', 'http://assets.pewresearch.org/wp-content/uploads/sites/3/2016/06/2016-06-27_race-inequality-final-topline.pdf', target: '_blank'
          who support the Black Lives Matter movement and millions more
          involved in other efforts to ensure equity and justice. Together, we
          can confront the threat posed by a Trump administration and continue
          to make progress towards racial justice in America.
        %p
          Built by a broad coalition of activists, this platform is designed to
          translate potential into action, action into change. Sign up for the
          next training to learn new skills and strategies of resistance. Then
          click the categories underneath to find immediate actions you can
          take to push for change.
        %p.bold
          It will take all of us to win. #StayWoke
