.container.strategy
  .row
    .col-xs-12.line
      %h2.background
        %span Our Strategy

  .row
    .col-sm-6
      %p
        There are
        = link_to '104 million Americans', 'http://assets.pewresearch.org/wp-content/uploads/sites/3/2016/06/2016-06-27_race-inequality-final-topline.pdf'
        who support the Black Lives Matter movement. Together, we can end racism
        and police violence in our communities. Together, we can build new
        systems and structures, love each other and support each other, and
        dramatically accelerate progress towards a world where black lives matter.
        This platform is a hub, a community, and an infrastructure to scale and
        sustain this work.  It is a radically inclusive strategy to translate
        potential into action, action into change.
      %p
        It will take all of us to win.
      %p
        Enter your zip code to get started.
      %p
        \#StayWoke
    .col-sm-6
      = image_tag('ferguson.jpg')
