%h1 Update Domain

= simple_form_for(@domain, url: admin_domain_path(@domain), method: :put) do |form|
  = form.input :name
  %h2 Cities
  = form.collection_check_boxes :cities, City.all, :id, :name, checked: @domain.cities.pluck(:id)
  = form.button :submit, class: 'btn-primary'
