.task
  .row.title
    .col-sm-8
      %h2= task.title
      %h3= task.subtitle
    .col-sm-4
      = link_to 'I will do this', task_path(token: task.token), class: 'btn btn-primary btn-arrow btn-block'

  .row.description
    .col-sm-12
      = render partial: task.blurb, locals: {task: task}

  .hr
