@import "variables";

body {
  background-color: $lightest-gray;
}

body>.container-fluid {
  margin-top: 60px;
  font-family: 'Proxima Nova Regular';

  @media ($small) {
    margin-top: 49px;
  }
}

h1 {
  font-size: 24px;
  font-family: 'Proxima Nova Extra Bold';
  letter-spacing: 3px;

  text-transform: uppercase;

  padding-bottom: 40px;
  border-bottom: 7px solid $black;
  margin-bottom: 40px;
  margin-top: 35px;

  &.back {
    position: relative;
    padding-left: 25px;

    &::after {
      content: '❮';
      position: absolute;
      left: 0;
      top: 1px;
      display: inline-block;
      font-style: normal;
      font-weight: normal;
      line-height: 1;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }
  }

  a {
    color: $black;
    font-family: 'Proxima Nova Extra Bold';

    &:hover {
      color: $black;
    }
  }
}

h2 {
  font-family: 'Proxima Nova Semibold';
  font-size: 24px;
  line-height: 32px;

  margin-top: 0;
  margin-bottom: 0;
}

h3 {
  font-family: 'Proxima Nova Regular';
  font-size: 20px;
  line-height: 32px;

  margin-bottom: 0;
  margin-top: 0;
}

p {
  font-size: 14px;
  font-family: 'Proxima Nova Regular';
  letter-spacing: 0.39px;
  line-height: 24px;
}

.hr {
  width: 100%;
  height: 0;
  border-bottom: 1px solid #bbb;
}

#notice, #alert {
  text-align: center;
  font-family: 'Proxima Nova Regular';
  background-color: $medium-gray;
  font-size: 16px;
  line-height: 21px;
  letter-spacing: 0.44px;
  margin-top: 0;
  padding: 16px 15px 14px 15px;
}

.block {
  display: block;
}

.bg-gray {
  background-color: $light-gray;
}

.or {
  margin-top: 40px;
  margin-bottom: 40px;
  font-style: italic;
}
