@import "variables";

.btn {
  border: none;
  border-radius: 0;
  padding: 15px 64px 14px 64px;

  font-family: 'Proxima Nova Bold';
  font-size: 16px;
  letter-spacing: 1px;
  color: $white;

  text-transform: uppercase;

  &.btn-sm {
    padding: 6px 30px 7px 30px;
  }
}

.btn-default {
  background-color: $gray;

  &:hover {
    background-color: $gray;
  }

  a {
    color: $white;
  }
}

.btn-primary {
  @include button-variant(white, $yellow, transparent);
  font-family: 'Proxima Nova Bold';
  letter-spacing: 1.5px;

  a {
    color: $white;
  }
}

.btn-danger {
  a {
    color: $white;
  }
}

.btn-arrow {
  padding: 15px 5% 14px 5%;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    right: 15px;
    top: 16px;
    width: 26px;
    height: 19px;
    display: block;
    background: transparent asset-url('arrow.png') no-repeat;
    background-size: cover;
    background-position: 50% 50%;
  }
}

.btn-dark {
  color: white;
  background-color: $black;

  &:hover, &:active, &:focus {
    color: white;
  }
}

.btn-facebook {
  color: white;
  background-color: #4c69ba;

  &:hover, &:active, &:focus {
    color: white;
  }
}
