@import "variables";

.btn {
  border: none;
  border-radius: 0;
  padding: 13px 64px 16px 64px;

  font-family: 'Proxima Nova Extra Bold';
  font-size: 16px;
  color: $white;
  letter-spacing: 1.5px;

  text-transform: uppercase;

  &.btn-sm {
    padding: 6px 30px 7px 30px;
  }
}

.btn-default {
  background-color: $gray;

  &:hover {
    background-color: $gray;
  }

  a {
    color: $white;
  }
}

.btn-primary {
  @include button-variant(white, $yellow, transparent);

  a {
    color: $white;
  }
}

.btn-danger {
  a {
    color: $white;
  }
}

.btn-arrow {
  position: relative;

  &::after {
    content: '\e092';
    position: absolute;
    right: 10px;
    top: 15px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
