@import "variables";

.footer {
  background-color: $black;

  padding-top: 73px;
  padding-bottom: 73px;

  color: white;
  font-size: 13px;
  line-height: 21px;

  a {
    color: white;
    font-family: 'Proxima Nova Semibold';
    letter-spacing: 0.93px;
    line-height: 30px;
    text-transform: uppercase;
  }

  .cc {
    height: 18px;
    width: 18px;
    margin-right: 5px;
    margin-top: -2px;
  }

  .sharing-container {
    font-size: 0;

    .sharing {
      height: 44px;
      width: 44px;
      margin-left: 1px;
    }
  }

  .credits {
    padding-top: 14px;
  }

  .bold {
    margin-top: 10px;
  }
}
