@import "variables";

.footer {
  background-color: $black;

  padding-top: 73px;
  padding-bottom: 73px;

  @media ($small) {
    padding-top: 35px;
    padding-bottom: 35px;
  }

  color: white;
  font-size: 13px;
  line-height: 21px;

  @media ($small) {
    line-height: 40px;
    text-align: center;
  }

  a {
    color: white;
    font-family: 'Proxima Nova Semibold';
    letter-spacing: 0.93px;
    text-transform: uppercase;
  }

  .links a {
    line-height: 30px;
  }

  .cc {
    height: 18px;
    width: 18px;
    margin-right: 5px;
    margin-top: -2px;
  }

  .sharing-container {
    font-size: 0;
    text-align: right;

    @media ($small) {
      text-align: center;
    }

    .sharing {
      height: 44px;
      width: 44px;
      margin-left: 1px;
    }
  }

  .right {
    @media ($small) {
      margin-top: 32px;
    }
  }

  .credits {
    padding-top: 14px;
    text-align: right;

    @media ($small) {
      padding-top: 45px;
      text-align: center;
      line-height: 20px;
    }

    a {
      text-transform: none;
      font-family: 'Proxima Nova Regular';
    }
  }

  .copyright {
    margin-top: 10px;

    @media ($small) {
      margin-top: 42px;
    }
  }
}
