@import "variables";

.footer {
  background-color: $black;

  padding-top: 73px;
  padding-bottom: 73px;

  @media ($small) {
    padding-top: 35px;
    padding-bottom: 35px;

    line-height: 40px;
    text-align: center;
  }

  color: white;
  font-size: 13px;
  line-height: 21px;

  a {
    color: white;
    font-family: 'Proxima Nova Semibold';
    letter-spacing: 0.93px;
    text-transform: uppercase;
  }

  .links a {
    line-height: 30px;
  }

  .sharing-container {
    font-size: 0;
    text-align: left;

    @media ($small) {
      text-align: center;
      margin-top: 20px;
    }

    .sharing {
      height: 44px;
      width: 44px;
      background-color: white;
      margin-left: 1px;

      @media ($big) {
        margin-top: -7px;
      }
    }

    .donate {
      display: inline-block;

      @media ($small) {
        display: block;
      }

      input[type="submit"] {
        border: 0;
        font-family: 'Proxima Nova Semibold';
        text-transform: uppercase;
        font-size: 14px;
        letter-spacing: 1.5px;
        padding-top: 9px;
        padding-left: 15px;
        padding-right: 15px;
        height: 44px;
        margin-right: 44px;

        @media ($small) {
          margin-right: 0;
          margin-bottom: 60px;
          padding-top: 3px;
        }
      }
    }
  }

  .credits {
    padding-top: 41px;
    text-align: right;

    @media ($small) {
      padding-top: 45px;
      text-align: center;
      line-height: 20px;
    }

    a {
      text-transform: none;
      font-family: 'Proxima Nova Regular';
    }
  }

  .copyright {
    margin-top: 10px;
    text-align: right;

    @media ($small) {
      text-align: center;
      margin-top: 42px;
    }
  }
}
