@import "variables";

input, textarea {
  background-color: white;
  border-radius: 0;
  border: none;
  padding: 11.5px;
  font-size: 18px;
}

textarea:focus, input:focus {
  outline: none;
}

form, .form-control {
  border-radius: 0;
  box-shadow: none;

  label {
    font-family: 'Proxima Nova Semibold';
    font-size: 16px;
    color: $black;
    margin-bottom: 3px;
  }

  input {
    font-family: 'Proxima Nova Regular';
    font-size: 16px;
    color: $black;
    border: 1px solid $black;
  }

  abbr[title], abbr[data-original-title] {
    border-bottom: none;
  }

  input[type="checkbox"]:focus{
    outline: 0;
  }

  .checkbox {
    label {
      padding-left: 22px;
    }

    input[type="checkbox"] {
      margin-left: -22px;
      margin-top: 3px;
    }
  }

  input[type="checkbox"]{
    -webkit-appearance: initial;
    appearance: initial;
    background: white;
    width: 15px;
    height: 15px;
    border: 1px solid #ccc;
  }

  input[type="checkbox"]:checked {
    border: none;

    background: image-url('checkmark.png') no-repeat;
    background-size: cover;
    background-position: 50% 50%;
  }
}
