@import "variables";

form {
  label {
    font-family: 'Proxima Nova Semibold';
    font-size: 16px;
    color: $black;
  }

  input {
    font-family: 'Proxima Nova Regular';
    font-size: 16px;
    color: $black;
  }
}
