@import "variables";

nav.navbar-default {
  box-shadow: 0 2px 4px 0px rgba(0, 0, 0, 0.1);
  background-color: white;
  border-bottom: 0;

  @media ($small) {
    .navbar-collapse {
      background-color: $black;

      .navbar-nav li {
        a {
          padding-top: 20px;
        }

        &:last-child {
          a {
            padding-bottom: 20px;
          }
        }
      }

      .navbar-nav li a, .navbar-nav .open .dropdown-menu li a,
      .navbar-nav > .open > a:focus, .navbar-nav li.active a,
      .navbar-nav li.active a:hover {
        color: white;
        font-family: 'Proxima Nova Regular';

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  .navbar-brand {
    padding: 14px 0 21px 30px;

    @media ($small) {
      float: none;
      display: block;
      width: 150px;
      margin: auto;
      padding: 11px 0 0 0;
    }

    img {
      height: 30px;

      @media ($small) {
        height: 25px;
      }
    }
  }

  .navbar-header {
    height: 60px;

    @media ($small) {
      height: 47px;
    }
  }

  .navbar-toggle {
    border: 0;
    float: left;

    margin-top: 16px;
    margin-left: 15px;
    margin-right: 0;

    padding: 0;

    &:focus, &:hover {
      background-color: transparent;
    }

    .icon-bar {
      background-color: $black;
      height: 3px;
      width: 19px;
      border-radius: 0;

      & + .icon-bar {
        margin-top: 3px;
      }
    }
  }

  .navbar-nav {
    margin-top: 7px;

    li {
      font-size: 14px;
      font-family: 'Proxima Nova Semibold';
      letter-spacing: 1.5px;
      text-transform: uppercase;

      &.active {
        a {
          color: $black;
          background-color: transparent;
          border-bottom: 3px solid $black;

          @media ($small) {
            border-bottom: none;
          }
        }

        &:hover {
          a {
            color: $black;
            background-color: transparent;
          }
        }
      }

      &.open {
        a {
          background-color: transparent;

          &:hover, &:focus {
            background-color: transparent;
          }
        }
      }

      a {
        color: $black;

        padding-left: 0;
        padding-right: 0;
        margin-left: 20px;
        margin-right: 20px;

        padding-bottom: 0;
      }

      &:last-child {
        a {
          margin-right: 0;
        }
      }
    }

    &.navbar-right {
      margin-right: 15px;
    }
  }

  li.donate input[type="submit"] {
    font-family: 'Proxima Nova Regular';
    color: white;
    background-color: $black;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 1.5px;
    margin: 6.5px 0 6.5px 20px;
    padding: 5px 15px;

    @media ($small) {
      color: $black;
      background-color: white;
      margin-top: 20px;
      margin-bottom: 20px;
    }
  }
}
