body > .container-fluid > .container {
  padding: 0;
  padding-bottom: 50px;
}

.margin-bottom-2 {
  margin-bottom: 20px;
}

.margin-bottom-4 {
  margin-bottom: 40px;
}

.margin-top-4 {
  margin-top: 40px;
}
