:ruby
  cta = 'I will do this'
  options = {class: 'btn btn-primary btn-arrow btn-block'}
  path = if action.project::URL
           link_to cta, action.project::URL, options.merge({target: '_blank'})
         elsif action.city
           link_to cta, action_path(city_id: action.city.id, project_key: action.project::KEY), options
         else
           link_to cta, action_path(project_key: action.project::KEY), options
         end

.action
  .row
    .col-sm-8
      %table
        %tr
          - if action.type
            %td.icon= image_tag(action.icon_inline)
          %td.title
            - if action.type
              %p= action.type
            %h2= action.title
            - if action.subtitle
              %h3= action.subtitle
            - if action.sponsor
              .sponsor Featured by #{action.sponsor}
    .col-sm-4
      = path

  .row.description
    .col-sm-8
      = render partial: action.blurb, locals: {action: action}

  - if action.completers_count > 0
    .row.completers
      .col-sm-8
        - if action.completers_count == 1
          %span.number 1
          person has completed this task
        - else
          %span.number= action.completers_count
          people have completed this task

  .hr
