.container.actions
  .row
    .col-xs-12
      %h1 Actions
      .controls
        .new
          = link_to 'Create new', action_path(project_key: Projects::ActionSuggestionProject::KEY)

  .row.cta
    .col-xs-12
      %h2
        Here's a list of urgent actions you can take to contribute today.
        Contact
        = mail_to 'info@staywoke.org'
        with any questions.
      .hr

  .row
    .col-sm-12
      - @actions.each do |action|
        = render partial: 'action', locals: {action: action}
