.container
  .row
    .col-xs-12
      %h1.back
        = link_to 'Actions', actions_path

      %h2= @action.title
      - if @action.subtitle
        %h3.margin-bottom-2= @action.subtitle

      = render partial: @action.description, locals: {action: @action}
      = render partial: @action.form, locals: {action: @action}
