.container
  .row
    .col-xs-12
      %h1 My Account

  .row
    .col-sm-6
      = simple_form_for(@user, url: account_path, method: :put) do |form|
        = form.input :name
        = form.input :email
        = form.input :location
        = form.input :phone, label: 'Phone number <span class="italic">(to receive text alerts)</span>'.html_safe
        = form.input :is_organization, label: 'I represent an organization or company', as: :boolean
        %input.form-control.string.optional#user_organization_name{placeholder: 'Organization/Company Name', type: 'text', name: 'user[organization_name]', value: @user.organization_name}
        - if @user.password_required?
          = form.input :old_password, label: 'Current password'
          = form.input :new_password
        = form.button :submit, 'Update', class: 'btn-primary margin-top-4'
