.container
  .row
    .col-xs-12
      %h1 Sign Up

  .row
    .col-sm-6
      = simple_form_for(@user, url: users_path, method: :post) do |form|
        = form.hidden_field :referrer, value: 'sign-up'
        = form.input :name
        = form.input :email, required: true
        = form.input :password, required: true
        = form.input :location, label: 'Zip Code or Location'
        = form.input :phone, label: 'Phone number <span class="italic">(to receive text alerts)</span>'.html_safe
        = form.input :is_organization, label: 'My organization or company would like to join this coalition'
        %input.form-control.string.optional#user_organization_name{placeholder: 'Organization/Company Name', type: 'text', name: 'user[organization_name]', value: @user.organization_name}
        = form.button :submit, 'Sign Up', class: 'btn-primary margin-top-4'

      .or OR
      %a.btn.btn-facebook(href="/auth/facebook") Sign up with Facebook
