.container
  .row
    .col-xs-12
      %h1 Change your password

  .row
    .col-xs-12
      = simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: {method: :put}) do |form|
        = form.error_notification

        = form.input :reset_password_token, as: :hidden
        = form.full_error :reset_password_token

        = form.input :password, label: 'New password:', required: true, autofocus: true
        = form.input :password_confirmation, label: 'Confirm your new password:', required: true

        = form.button :submit, 'Change my password', class: 'btn-primary'

      .login.italic
        = render 'devise/shared/links'
