.container
  .row
    .col-xs-12
      %h1 Forgot your password?

  .row
    .col-xs-12
      = simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |form|
        = form.input :email, required: true, autofocus: true
        = form.button :submit, 'Send me instructions', class: 'btn-primary'

      .forgot-password.italic
        = render 'devise/shared/links'
