.container
  .row
    .col-xs-12
      = simple_form_for(@user) do |form|
        = form.hidden_field :legacy_survey_response_id
        = form.hidden_field :referrer, value: 'welcome'
        = form.input :name
        = form.input :email
        = form.input :location
        = form.input :password
        = form.button :submit, class: 'btn-primary'
