.container
  .row
    .col-xs-12
      %h1 Unreviewed Responses

  .row
    .col-xs-12
      %table.table.table-hover
        %thead
          %tr
            %th User
            %th Project
            %th City
            %th Answer Preview
            %th
        %tbody
          - @responses.each do |response|
            %tr
              %td= response.user.name
              %td= response.project::NAME
              %td= response.city_name
              %td= response.answer
              %td= link_to 'Review', admin_response_path(token: response.token), class: 'btn btn-sm btn-primary'
