.container
  .row
    .col-xs-12
      %h1 Review Response

  .row
    .col-sm-4.text-right.italic User
    .col-sm-8= @response.user.name

  .row
    .col-sm-4.text-right.italic Project
    .col-sm-8= @response.project::KEY

  - if @response.city_name.present?
    .row
      .col-sm-4.text-right.italic City
      .col-sm-8= @response.city_name

  .row
    .col-sm-4.text-right.italic Answer
    .col-sm-8
      = render partial: @response.project.answer, locals: {response: @response}

  .row.margin-top-4
    .col-sm-4
      = button_to 'Reject', admin_response_path(token: @response.token, reject: true), method: :put, class: 'btn btn-sm btn-danger btn-block'
    .col-sm-8
      = button_to 'Accept', admin_response_path(token: @response.token, accept: true), method: :put, class: 'btn btn-sm btn-primary btn-block'
