%table
  %thead
    %tr
      %td Name
      %td Key
      %td
  %tbody
    - @projects.each do |project|
      %tr
        %td= project::NAME
        %td= project::KEY
        %td
          .btn= link_to 'Edit', admin_edit_project_path(key: project::KEY)
