%p
  Empowered civilian oversight of the police is an important strategy for
  holding police accountable to the communities they are supposed to serve.

%p
  Help find information on the civilian oversight structure in your area, so
  activists can help push to strengthen its ability to hold police accountable
  effectively.
