%p
  Empowered civilian oversight of the police is an important strategy for
  holding police accountable to the communities they are supposed to serve.

%p
  Help find information on the civilian oversight structure in your area, so
  activists can help push to strengthen its ability to hold police accountable
  effectively.

%p
  Civilian oversight structures look different in each city. Some take the form
  of civilian review boards, others are police commissions, some are civilian
  inspector generals, and others are civilian police ombudsmen.

%p
  Help find the structure in your city by searching Google for
  "#{action.city.name} Civilian Review Board" or "#{action.city.name} Police
  Civilian Oversight" to find the name of the structure. Then look for
  "[Name of the Structure] City Ordinance" or "[Name of the Strucutre]
  Authorization" to find the specific law, ordinance, or policy that creates
  the structure and gives it its powers &mdash; this is critical to
  understanding how civilian oversight works in your area.
