:ruby
  path = response_path(city_id: @action.city.id, project_key: @action.project::KEY)

= simple_form_for(@response, url: path) do |form|
  = form.input :name, label: 'Name of the Structure:', autofocus: true
  = form.input :url, label: 'Policy URL:', autofocus: true
  = form.button :submit, 'Submit', class: 'btn-primary'
