%p
  To complete this task, we ask that you upload the "Use of Force" Policy for
  the #{task.type} of #{task.locality.name}, #{task.locality.state}. Sometimes
  this document can be called "General Orders".

%p
  Policies that govern policing are often posted online. But nobody has compiled
  all that's been made available ond put it in one place. Help us find policies
  governing police use of force.
