%p
  Policies that govern policing are often posted online. But nobody has compiled
  all that's been made available and put it in one place. Help us find policies
  governing police use of force.

%p
  To complete this task, we ask that you upload the "Use of Force" Policy for
  #{task.city.name}, #{task.city.state}. It's highly likely you can locate this
  document online. If not, however, we encourage you to reach out by email to
  your government official.

%p
  When searching for this document, it may be helpful to use the following
  search terms: "General Orders", "Standard Operating Procedures (SOP)", or
  "Policy Manual".

%p Once you locate the policy document, please enter the URL below.
