%p
  Propose a local, state, or federal policy that you think would meaningfully 
  address racism. 
  
%p
  If possible, provide links to any articles or evidence supporting why this 
  solution would work.
