:ruby
  path = response_path(project_key: action.project::KEY)

= simple_form_for(@response, url: path) do |form|
  = form.input :proposal, label: 'Describe your proposal:', autofocus: true, input_html: {rows: 6}
  = form.input :evidence, label: 'Supporting articles and/or evidence:', input_html: {rows: 6}
  = form.button :submit, 'Submit', class: 'btn-primary'
