.container
  .row
    .col-xs-12
      %h1 New City

  .row
    .col-xs-12
      = simple_form_for(@city, url: admin_cities_path, method: :post) do |form|
        = form.input :name
        = form.input :state
        = form.button :submit, class: 'btn-primary'
