.container
  .row
    .col-xs-12
      %h1 #{@city.name}, #{@city.state}

    - @actions.each do |action|
      .col-xs-12
        %h3= action.title

      .col-xs-12
        %table.table.table-hover
          %thead
            %tr
              %th User
              %th Correct
              %th Answer
          %tbody
            - action.responses.each do |response|
              %tr
                %td= response.user.name
                %td= response.correct
                %td= response.answer
