.row.hero
  .container
    .row
      .col-sm-8.col-sm-offset-2
        %h1.text-center Coming Soon
        %h2.text-justify
          Together, we can confront the threat posed by a Trump administration
          and continue to make progress towards racial justice in America.

.row.protest
  &nbsp;

= render partial: 'footer'
