.row
  .col-xs-4.text-right Proposal
  .col-xs-8= response.proposal

.row
  .col-xs-4.text-right Audience
  .col-xs-8= Responses::RacismCurriculumResponse::AUDIENCES[response.audience]

.row
  .col-xs-4.text-right URL
  .col-xs-8= response.link
