%p
  Submit a Curriculum, Lesson Plan, or Presentation that can be used to educate 
  moderate/conservative white people why they should work to resist Trump and 
  the beliefs he represents.
  
%p
  Strong submissions will incorporate visuals, facts, statistics, and/or any 
  other relevant information.
  
%p
  Submissions do not need to be fully designed products, though incomplete 
  products should contain information about your vision for how they should 
  look when completed.
  
%p
  We'll follow up with the strongest submissions and work with you to share these more broadly.
