:ruby
  path = response_path(project_key: action.project::KEY)

= simple_form_for(@response, url: path) do |form|
  = form.input :proposal, label: 'Describe your proposed curriculum:', input_html: {rows: 6}
  = form.input :audience, label: 'Intended audience:', collection: Responses::RacismCurriculumResponse::AUDIENCES.map { |key, value| [value, key] }
  = form.input :link, label: 'URL of proposed curriculum or presentation:'
  = form.button :submit, 'Submit', class: 'btn-primary'
