.container
  .row
    .col-xs-12
      %h1 Sign In

  .row.account-creation
    .col-xs-12
      Or,
      = link_to 'create an account', new_user_path, class: 'italic'

  .row
    .col-sm-6
      = simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |form|
        = form.input :email, required: false, autofocus: true
        = form.input :password, required: false
        = form.input :remember_me, as: :boolean if devise_mapping.rememberable?
        = form.button :submit, "Sign in", class: 'btn-primary'

      .forgot-password.italic
        = render "devise/shared/links"

      .or OR
      %a.btn.btn-facebook(href="/auth/facebook") Sign in with Facebook
