.row
  .col-xs-4.text-right Date
  .col-xs-8= response.date.strftime('%B %e, %Y')

.row
  .col-xs-4.text-right Location
  .col-xs-8= response.location

.row
  .col-xs-4.text-right Description
  .col-xs-8= response.description

.row
  .col-xs-4.text-right URL
  .col-xs-8= response.link
