%p
  Trump has incited acts of hate across the country.

%p
  We are tracking these incidents, which can be harassment, intimidation, or
  other violence targeting people because of who they are.

%p
  Help us track this information by submitting details of an incident that you
  believe is connected to Trump and/or his followers. Submit an incident you've
  experienced, witnessed, or viewed online.
