:ruby
  path = response_path(project_key: action.project::KEY)

= simple_form_for(@response, url: path) do |form|
  = form.input :date, label: 'Date of Incident:'
  = form.input :location, label: 'Location of Incident:'
  = form.input :description, label: 'Please describe the incident:', input_html: {rows: 6}
  = form.input :link, label: 'URL linking to a photo, police report, or news article documenting the incident:'
  = form.button :submit, 'Submit', class: 'btn-primary'
