%p
  Effective non-violent protests force politicians and communities to confront
  an issue. Submit an idea for a non-violent direct action and/or boycott that
  can confront and resist Trump's agenda and the racism it incites.
