%p
  Join our next online training to learn strategies and skills to resist
  Trump's agenda and advance racial justice in your community.

%p
  Select one of the following trainings to attend and we'll invite you to
  attend.
