:ruby
  path = response_path(project_key: action.project::KEY)

= simple_form_for(@response, url: path) do |form|
  = form.input :domain, label: 'Interest area:', collection: Responses::TrainingInterestResponse::DOMAINS.map { |key, value| [value, key] }
  = form.button :submit, 'Submit', class: 'btn-primary'
