.row
  .col-xs-4.text-right Description
  .col-xs-8= response.description

.row
  .col-xs-4.text-right Motivation
  .col-xs-8= response.motivation

.row
  .col-xs-4.text-right Organization
  .col-xs-8= response.organization
