%p
  Submit an action to be posted here for others to help complete.

%p
  Actions should be clear, concise, and manageable for volunteers to accomplish
  &mdash; and be related to supporting efforts to resist Trump's agenda, police
  violence, and/or racism.
