:ruby
  path = response_path(project_key: action.project::KEY)

= simple_form_for(@response, url: path) do |form|
  = form.input :description, label: 'Describe the action:', autofocus: true, input_html: {rows: 6}
  = form.input :motivation, label: 'Why should it be included?', input_html: {rows: 6}
  = form.input :organization, label: 'If this action is sponsored by an organization, enter the organization name here:'
  = form.button :submit, 'Submit', class: 'btn-primary'
