@import "variables";

.actions {
  p {
    font-size: 16px;
  }

  .cta {
    h2 {
      font-family: 'Proxima Nova Bold';
      font-size: 16px;
      text-align: center;
      padding-bottom: 40px;
    }

    .hr {
      margin-bottom: 40px;
    }
  }

  .controls {
    float: right;
    margin-top: -107px;

    .new a {
      font-family: 'Proxima Nova Regular';
      color: white;
      background-color: $black;
      text-transform: uppercase;
      font-size: 14px;
      letter-spacing: 1.5px;
      padding: 10px 15px;;
      text-decoration: none;
    }
  }

  .action {
    .row:first-child {
      margin-bottom: 20px;
    }

    .icon {
      vertical-align: top;

      img {
        margin-top: 10px;
        margin-right: 5px;

        height: 50px;
        width: 50px;
      }
    }

    .completers {
      font-style: italic;
      color: $gray;
      margin-top: 10px;

      .number {
        font-style: normal;
        padding: 4px 7px 3px 8px;
        background-color: $gray;
        color: white;
        margin-right: 3px;
        font-family: 'Proxima Nova Semibold';
      }
    }

    .sponsor {
      background-color: $gray;
      color: white;
      padding: 5px 7px;
      margin-top: 10px;
      font-family: 'Proxima Nova Semibold';
      display: inline-block;
      font-size: 14px;
    }

    .hr {
      margin-top: 40px;
      margin-bottom: 40px;
    }

    @media ($small) {
      .btn-arrow {
        margin-top: 20px;
      }
    }

    p {
        margin: 0px;
    }
  }

  &.show {
    form.simple_form {
      margin-top: 20px;
    }
  }
}
