@import "variables";

.electoral-college-widget-container {
  margin: 0 auto;
}

.electoral-college-widget-background {
  background-color: $lightest-gray;
  padding-top: 23px;
  padding-bottom: 46px;

  @media ($small) {
    padding-top: 0;
    padding-bottom: 0;
  }
}

#electoral-college-widget {
  border: 0 !important;
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
  font-family: 'Proxima Nova Regular' !important;

  h1 {
    color: $black !important;
    font-family: 'Proxima Nova Bold' !important;
  }

  h2 {
    color: #666 !important;
    text-transform: none !important;

    strong {
      color: $black !important;
    }
  }

  .message {
    letter-spacing: 0 !important;
  }

  .map {
    .block {
      a.republican {
        background: $red !important;

        &.active, &:hover {
          background: darken($red, 13) !important;
        }
      }
    }
  }
}
