@import "variables";

.static {
  &.home {
    .hero {
      background: image-url('hero.jpg') no-repeat;
      background-size: cover;
      background-position: 50% 50%;
      padding-top: 100px;
      padding-bottom: 170px;
      text-align: center;

      h1 {
        font-family: 'Proxima Nova Bold';
        font-size: 60px;
        text-transform: none;

        margin: 0;
        padding: 0;
        margin-bottom: 30px;
        border-bottom: none;
      }

      h2 {
        font-size: 24px;
        font-family: 'Proxima Nova Bold';
        line-height: 40px;
        text-align: justify;

        margin: 0;
        padding: 0;
        margin-bottom: 75px;
      }

      input, button {
        height: 48px;
        width: 100%;
      }

      @media (max-width: 767px) {
        button {
          margin-top: 10px;
        }
      }
    }

    .strategy {
      padding-bottom: 100px;

      img {
        width: 100%;
      }

      p {
        font-size: 18px;
        line-height: 30px;
      }

      h2 {
        text-transform: uppercase;
        text-align: center;
        margin-top: 80px;
        margin-bottom: 50px;

        &.background {
          position: relative;
          z-index: 1;

          &:before {
            border-top: 7px solid $black;
            content: "";
            margin: 0 auto;
            position: absolute;
            top: 11px;
            left: 0;
            right: 0;
            bottom: 0;
            width: 100%;
            z-index: -1;
          }

          span {
            background: white;
            padding: 0 15px;
          }
        }
      }
    }
  }
}
