@import "variables";

.static {
  &.home, &.coming_soon {
    input[type="text"], input[type="password"] {
      font-family: 'Proxima Nova Regular';
      border: none;
    }

    .hero {
      color: white;

      padding-top: 77px;

      @media ($small) {
        padding-top: 57px;
      }

      background: $red;
      background: -moz-linear-gradient(45deg, $red 0%, #d7a900 100%);
      background: -webkit-linear-gradient(45deg, $red 0%,#d7a900 100%);
      background: linear-gradient(45deg, $red 0%,#d7a900 100%);

      h1 {
        font-family: 'Proxima Nova Bold';
        font-size: 48px;
        letter-spacing: 0;
        text-transform: none;

        margin: 0;
        padding: 0;
        margin-bottom: 19px;
        border-bottom: none;

        @media ($small) {
          font-size: 30px;
          text-align: center;
          margin-bottom: 15px;
        }

        @media ($medium) {
          text-align: center;
        }
      }

      h2 {
        font-size: 20px;
        font-family: 'Proxima Nova Semibold';
        line-height: 36px;

        margin: 0;
        padding: 0;
        margin-bottom: 76px;

        @media ($small) {
          font-size: 18px;
          margin-bottom: 49px;
          line-height: 27px;
        }
      }

      input, button {
        height: 50px;
        width: 100%;
      }

      .input {
        margin-top: 35px;
        margin-bottom: 10px;

        @media ($small) {
          margin-top: 0;
          margin-bottom: 0;
        }

        input {
          text-align: center;

          @media ($small) {
            font-size: 18px;
          }
        }
      }

      .button {
        margin-bottom: 87px;

        @media ($small) {
          margin-bottom: 53px;
        }
      }
    }

    .protest {
      height: 550px;

      background: image-url('protest-desktop.jpg') no-repeat;
      background-size: cover;
      background-position: 50% 50%;

      @media ($small) {
        height: 300px;

        background: image-url('protest-mobile.jpg') no-repeat;
        background-size: cover;
        background-position: 50% 50%;
      }
    }

    .strategy, .signup {
      p {
        font-size: 18px;
        line-height: 30px;
      }

      h2 {
        text-transform: uppercase;
        text-align: center;
        margin-top: 80px;
        margin-bottom: 50px;
        font-family: "Proxima Nova Extra Bold";
        letter-spacing: 3px;

        @media ($small) {
          margin-top: 49px;
          margin-bottom: 28px;
          font-size: 20px;
        }

        &.background {
          position: relative;
          z-index: 1;

          &:before {
            border-top: 7px solid $black;
            content: "";
            margin: 0 auto;
            position: absolute;
            top: 11px;
            left: 0;
            right: 0;
            bottom: 0;
            width: 100%;
            z-index: -1;

            @media ($small) {
              border-top: 4px solid $black;
              top: 13px;
            }
          }

          span {
            padding: 0 15px;

            @media ($small) {
              padding: 0 10px;
            }
          }
        }
      }
    }

    .strategy {
      padding-bottom: 90px;

      h2.background span {
        background: $lightest-gray;
      }

      img {
        width: 100%;
      }

      @media ($small) {
        padding-bottom: 50px;
      }
    }

    .signup {
      padding-bottom: 100px;

      @media ($small) {
        padding-bottom: 55px;
      }

      h2.background span {
        background: $light-gray;
      }

      input {
        width: 100%;
      }

      form {
        margin-top: 30px;

        @media ($small) {
          margin-top: 25px;
        }

        .btn {
          padding: 15px 5px 14px 5px;
        }

        input, button {
          margin-top: 10px;
          height: 50px;
        }

        @media ($big) {
          .nopadding {
            padding: 0 0 0 10px !important;
            margin: 0 !important;

            &:first-child {
              padding-left: 15px !important;
            }
          }
        }
      }
    }
  }
}
