@import "variables";

.static {
  &.home {
    input[type="text"], input[type="password"] {
      font-family: 'Proxima Nova Regular';
    }

    .hero {
      color: white;

      padding-top: 77px;

      background: $red;
      background: -moz-linear-gradient(left, $red 0%, #d7a900 100%);
      background: -webkit-linear-gradient(left, $red 0%,#d7a900 100%);
      background: linear-gradient(to right, $red 0%,#d7a900 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$red', endColorstr='#d7a900',GradientType=1 );

      h1 {
        font-family: 'Proxima Nova Bold';
        font-size: 48px;
        text-transform: none;

        margin: 0;
        padding: 0;
        margin-bottom: 19px;
        border-bottom: none;
      }

      h2 {
        font-size: 20px;
        font-family: 'Proxima Nova Bold';
        line-height: 36px;

        margin: 0;
        padding: 0;
        margin-bottom: 76px;
      }

      input, button {
        height: 50px;
        width: 100%;
      }

      .input {
        margin-top: 26px;
        margin-bottom: 10px;

        input {
          text-align: center;
        }
      }

      .button {
        margin-bottom: 87px;
      }
    }

    .protest {
      height: 550px;
      background: image-url('women-protest.jpg') no-repeat;
      background-size: cover;
      background-position: 50% 50%;
    }

    .strategy, .signup {
      padding-bottom: 100px;

      p {
        font-size: 18px;
        line-height: 30px;
      }

      h2 {
        text-transform: uppercase;
        text-align: center;
        margin-top: 80px;
        margin-bottom: 50px;
        font-family: "Proxima Nova Extra Bold";
        letter-spacing: 3px;

        &.background {
          position: relative;
          z-index: 1;

          &:before {
            border-top: 7px solid $black;
            content: "";
            margin: 0 auto;
            position: absolute;
            top: 11px;
            left: 0;
            right: 0;
            bottom: 0;
            width: 100%;
            z-index: -1;
          }

          span {
            padding: 0 15px;
          }
        }
      }
    }

    .strategy {
      h2.background span {
        background: white;
      }

      img {
        width: 100%;
      }
    }

    .signup {
      h2.background span {
        background: $light-gray;
      }

      input {
        width: 100%;
      }

      form {
        margin-top: 30px;

        .btn {
          padding: 13px 5px 16px 5px;
        }

        input, button {
          margin-top: 10px;
          height: 50px;
        }

        @media ($big) {
          .nopadding {
            padding: 0 0 0 10px !important;
            margin: 0 !important;

            &:first-child {
              padding-left: 15px !important;
            }
          }
        }
      }
    }
  }
}
