#user_organization_name {
  display: none;
}

form.new_user,
form.edit_user {
  label {
    font-family: 'Proxima Nova Regular';
    font-weight: normal;

    &.required {
      font-family: 'Proxima Nova Semibold';
    }
  }

  #user_organization_name {
    margin-top: -10px;
  }
}

form.edit_user {
  #user_organization_name {
    margin-bottom: 20px;
  }
}
