$black: #222;
$yellow: #dfb712;
$white: #fff;
$red: #ec0044;

$gray: #aaa;
$medium-gray: #e1e3e3;
$light-gray: #f4f4f4;
$lightest-gray: #fafafa;

$small: "max-width: 767px";
$medium: "max-width: 991px";
$big: "min-width: 768px";
