.container
  .row
    .col-xs-12
      %h1 Users

  .row
    .col-xs-12
      %table.table.table-hover
        %thead
          %tr
            %th Name
            %th Location
            %th Sign In Count
            %th Admin
        %tbody
          - @users.each do |user|
            %tr
              %td= user.name
              %td= user.location
              %td= user.sign_in_count
              %td= user.admin?
