<script type="text/javascript" async src="https://platform.twitter.com/widgets.js"></script>

.row.footer
  .container
    .col-sm-6.sharing-container
      %form.donate{action: 'https://www.paypal.com/cgi-bin/webscr', method: 'post', target: '_blank'}
        %input{type: 'hidden', name: 'cmd', value: '_s-xclick'}
        %input{type: 'hidden', name: 'hosted_button_id', value: 'DCTT2LSQK42E8'}
        %input{type: 'submit', name: 'submit', value: 'Donate'}
      %a{href: 'https://twitter.com/intent/tweet?text=https%3A%2F%2Fstaywoke.org%2F'}
        = image_tag 'twitter.png', class: 'sharing'
      %a{href: "https://www.facebook.com/dialog/share?app_id=#{Rails.application.secrets.facebook_app_id}&display=popup&href=https%3A%2F%2Fstaywoke.org%2F", target: '_blank'}
        = image_tag 'facebook.png', class: 'sharing'
      %a{href: 'https://www.linkedin.com/shareArticle?mini=true&url=https%3A%2F%2Fstaywoke.org%2F', target: '_blank'}
        = image_tag 'linkedin.png', class: 'sharing'
      %a{href: 'mailto:?body=https%3A%2F%2Fstaywoke.org%2F'}
        = image_tag 'email.png', class: 'sharing'
    .col-sm-6.copyright &copy; 2016 We The Protesters
