%nav.navbar.navbar-default.navbar-fixed-top
  .container-fluid
    .navbar-header
      %button.btn.navbar-toggle.collapsed{"aria-expanded" => "false", "data-target" => "#collapser", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand{:href => root_path}
        %img{alt: 'StayWoke', src: asset_path('logo.png')}
    #collapser.collapse.navbar-collapse
      %ul.nav.navbar-nav.navbar-right
        - if show_nav_buttons
          %li{class: active_if(actions_path)}= link_to 'Actions', actions_path
          - if current_user
            %li{class: active_if(account_path)}= link_to 'My Account', account_path
          - if current_user.try(:admin?)
            %li.dropdown
              %a.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
                Admin
                %span.caret
              %ul.dropdown-menu
                %li= link_to 'Cities', admin_cities_path
                %li= link_to 'Domains', admin_domains_path
                %li= link_to 'Projects', admin_projects_path
                %li= link_to 'Responses', admin_responses_path
                %li= link_to 'Users', admin_users_path
          - if current_user
            %li= link_to 'Logout', destroy_user_session_path, method: :delete
          - else
            %li= link_to 'Sign Up', new_user_path
            %li= link_to 'Sign In', new_user_session_path
        %li.donate
          %form{action: 'https://www.paypal.com/cgi-bin/webscr', method: 'post', target: '_blank'}
            %input{type: 'hidden', name: 'cmd', value: '_s-xclick'}
            %input{type: 'hidden', name: 'hosted_button_id', value: 'DCTT2LSQK42E8'}
            %input{type: 'submit', name: 'submit', value: 'Donate'}
