<!DOCTYPE html>
<html>
  <head>
    <title>StayWoke</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= favicon_link_tag 'favicon.png' %>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <meta property="og:url" content="https://staywoke.org" />
    <meta property="og:title" content="StayWoke" />
    <meta property="og:description" content="We need your help. Together, we will confront the threat posed by a Trump administration and continue to make progress towards racial justice." />
    <meta property="og:image" content="<%= asset_url('favicon.png') %>" />
  </head>

  <body class="<%= controller_name %> <%= action_name %>">
    <div class="container-fluid">
      <%= render partial: 'navbar', locals: { show_nav_buttons: !(controller_name == 'static' && action_name == 'coming_soon') } %>
      <% if flash[:notice] %>
        <div class="row" id="notice"><%= flash[:notice] %></div>
      <% end %>
      <% if flash[:alert] %>
        <div class="row" id="alert"><%= flash[:alert] %></div>
      <% end %>
      <%= yield %>
    </div>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-77948909-2', 'auto');
      ga('send', 'pageview');
    </script>
  </body>
</html>
